.chromedia {
	.list-group {
		li {
			background: transparent;

			&.list-edit, &.list-add {
				background: #fff ;
				-webkit-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.33);
				-moz-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.33);
				box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.33);
			}
		}
	}

	&.front {
		.menu-item {
			// max-width: 12em;
			img {
				max-height: 7em;
			}
		}

		.count  {
			max-width: 3em;
		}

		.inc, .dec {
			background: #fff;
			color: #ccc;
		}
		
		.order-info {
			input {
				border-color: transparent;
				width: 100%;
				padding-top: 2px;
				padding-bottom: 2px;
				&:focus {
					border-color: inherit;
				}
			}

			.fa {
				&.fa-edit {
					float: right;
					position: absolute;
					top: 8px;
					right: 20px;
					opacity: 0.5;
				}
			}
		}
	}
}