 .chromedia {
 	* {
 		a.nav-link {
 			&.active {
 				background: #CCCAC4;
 				border: none;
 			}
 			background: transparent;
 			border: none;
 		}

 		form {
 			&.needs-validation {
 				border-top: 3px solid #cccac4;
 			}
 		}
	 }	
 }