.chromedia {
	.custom-select, .custom-dropdown {
		background: none;
		background: #fff;
		button {
			background: transparent;
		}
	}

	textarea {
		min-height: 3rem;
		// height: 3rem;
	}

	input, textarea { 
		&:focus {
			box-shadow: none;
		}
		outline: none !important; 
	}


	&.front {
		.btn {
			font-family: Poppins;
			font-size: 14.5px;
		}

		.dropdown-toggle::after {
			display: none;
		}

		.h1 {
			font-family: Poppins;
			font-size: 40px;
			color: #8BB25E;
			letter-spacing: 0;
		}

		.h5 {
			font-family: Poppins-Medium;
			font-size: 15px;
			color: #76A340;
			letter-spacing: 0;
		}

		p {
			letter-spacing: 0;
			
			&.desc {
				font-family: OpenSans;
				font-size: 12px;
				color: #858585;

				text-overflow: ellipsis;
				 white-space: nowrap;
  				overflow: hidden;

  				&.cusine {
					font-family: OpenSans-Light !important;
					color: #c4c4c4;
				}
			}

			&.leadtime {
				font-family: OpenSans;
				font-size: 11px;
				color: #FFFFFF;

				float: right;
				background:  #76A340;
				position: absolute;
				left: 80%;
				top: 5%;
			}
		}
		a.fa-plus:after, .chromedia label.fa-plus:after {
			content: "";
		}

		.breadcrumb {
			li {
				color: #aaa9a9 !important;
			}
		}
	}

	.selectBox-dropdown {
		background-color: transparent;
	}
	
	.dropdown-toggle {
		background-color: transparent !important;
		color: #323232 !important;
		border: 0px;
		&:focus {
			box-shadow: none !important;
		}
	}
	
}
