.chromedia {
	.custom-select, .custom-dropdown {
		background: none;
		background: #fff;
		button {
			background: transparent;
		}
	}
	textarea {
		min-height: 3rem;
		// height: 3rem;		
	}

	input, textarea { 
		&:focus {
			box-shadow: none;
		}
		outline: none !important; 
	}

	.selectBox-dropdown {
		background-color: transparent;
	}
}
