.chromedia {

	.text-upper {
		text-transform: uppercase;
	}

	.no-decor {
		text-decoration: none;
	}

	.fluid {
		width: 100%;
	}

	.btn {
		font-weight: normal;
		font-family: verdana;
		&:btn-secondary {
			
		}
	}

	a, label {
		&.fa-plus:after {
			content: " New";
			font-family: verdana;
			font-weight: 600;
			font-size: 15px;
		}

		&.fa-upload:after {
			content: " Import";
			font-family: verdana;
			font-weight: 600;
			font-size: 15px;
			cursor: pointer !important;
		}

		&.fa-download:after {
			content: " Export";
			font-family: verdana;
			font-weight: 600;
			font-size: 15px;
		}

		&.chr-upload {
			&:after {
				content:' Import CSV' !important;
			}
		}

		&.chr-download {
			&:after {
				content:' Export CSV' !important;
			}
		}
	}

	.disable {
		pointer-events:none;
	}

	.hide {
		visibility: hidden;
	}

	.show {
		visibility: show;
	}

	.valid {
		color: $success;
	}

	.invalid {
		color: $danger;
	}
}


.bg-pale-white {background: #FCFCFC;}
.bg-white {background: #fff;}

.padding {padding: .5rem }

.margin {margin: .5rem }

.border-bottom { border-bottom: 1px solid #e1e1e1; }

.bold { font-weight: bold; }

.prim-o {color: #EB9327;}

.shadow {box-shadow: 0 2px 8px 0 rgba(0,0,0,0.13);}

.scroll-0 {overflow: hidden !important;}

.mt-half {margin-top: 0.15em}

.bg-prime {background: #EB9327;}

.bg-cover {
	width: 100%; 
	height: 100%;
	object-fit: cover;
}

