.chromedia {
	.text-upper {
		text-transform: uppercase;
	}

	.no-decor {
		text-decoration: none;
	}

	.fluid {
		width: 100%;
	}

	.btn {
		font-weight: normal;
		font-family: verdana;
		&:btn-secondary {
			
		}
	}

	a {
		&.fa-plus:after {
			content: " New";
			font-family: verdana;
			font-weight: 600;
			font-size: 15px;
		}

		&.fa-upload:after {
			content: " Import";
			font-family: verdana;
			font-weight: 600;
			font-size: 15px;
			cursor: pointer !important;
		}

		&.fa-download:after {
			content: " Export";
			font-family: verdana;
			font-weight: 600;
			font-size: 15px;
		}
	}

	.disable {
		pointer-events:none;
	}

	.hide {
		visibility: hidden;
	}

	.show {
		visibility: show;
	}

	.valid {
		color: $success;
	}

	.invalid {
		color: $danger;
	}
}


.bg-pale-white {
	background: #FCFCFC;
}	

.padding {padding: .5rem }

.margin {margin: .5rem }

.border-bottom { border-bottom: 1px solid #e1e1e1; }

.bold { font-weight: bold; }