.chromedia {
	table {		
		tbody , input, textarea, button, label{
			font-size: 12px !important;
			tr {
				input {
					border-top: 0px;
					border-left: 0px;
					border-right: 0px;
					border-bottom: 1px solid transparent;

					border-radius: 0px;

					padding-bottom: 1px;
					padding-top: .5rem;
					padding-left: .15rem;
					background-color: transparent;
				}

				textarea {
					background-color: transparent;

					border-top: 0px;
					border-left: 0px;
					border-right: 0px;
					border-bottom: 1px solid transparent;
				}

				select {
					background: none;
					background: transparent !important;

					border-top: 0px;
					border-left: 0px;
					border-right: 0px;
					border-bottom: 1px solid transparent;	
					border-radius: 0px;
				}

				.btn-delete {
					display: none;
					padding: .5rem .75rem;
					background-color: transparent;
					border: 0px;
					color: red;
					border-radius: 2px;
					&:hover {
						background-color: #e1e1e1;
					}
				}

				.new-contact { 
					display: none; 
					margin-left: 2rem;
				}
				&.table-edit, &.table-add {
					background: #fff;

					input {
						border-top: 0px;
						border-left: 0px;
						border-right: 0px;
						border-bottom: 1px solid #e1e1e1;

						border-radius: 0px;

						padding-bottom: 1px;
						padding-top: .5rem;
						padding-left: .15rem;
					}
					textarea {
						background-color: transparent;

						border: 1px solid #e1e1e1;
					}

					.btn-delete { display: inline-block; }
					.new-contact { display: inline-block; }

					// -webkit-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.33);
					// -moz-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.33);
					// box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.33);
				}
				&.action {
					background-color: #f3f3f3;
					text-align:right;
					.btn {						
						padding: .5rem 1rem;
						background-color: #b95354;
						border-radius: 1px;
					}
				}
			}

			li {
				list-style-type: none;
			}
		}
	}
}