 .chromedia {
 	ul {
 		a.nav-link {
 			&.active {
 				background: #CCCAC4;
 				border: none;
 			}
 			background: transparent;
 			border: none;
 		}
 		border: none;
 	}

 	.tab-content{
	 	.tab-pane {
	 		&.active {
	 		 background: transparent;
	 		}
	 	}
	 	border-top: 3px solid #cccac4;
	 }	
 }