.chromedia {
	.text-upper {
		text-transform: uppercase;
	}

	.no-decor {
		text-decoration: none;
	}

	.fluid {
		width: 100%;
	}

	.btn {
		font-weight: normal;
		font-family:  verdana;
		&:btn-secondary {
			
		}
	}
}